html,body {
  margin: 0;
  padding: 0;
  font-family :'serif';
  height: max-content;
  overflow-x: auto;
  overflow-y: auto;
}
body{
  background: rgb(255, 255, 254);
  background: linear-gradient(180deg, rgba(255, 255, 254, 1) 0%, rgba(255, 253, 237, 1) 30%, rgba(255, 252, 224, 1) 55%, rgba(255, 249, 178, 1) 100%);
  height: max-content;
}
.App{
  height: max-content;
}
p{
  font-size: 25px;
} 
